body {
    font-family: 'Inter', sans-serif;
    background-color: #111827;
   
}


.drop-zone {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.drop-zone.drag-over {
    background-color: #1F2937;
    border-color: #3B82F6;
}


.file-input {
    display: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}